#footer{
	position: absolute;
	bottom: 0;
}

#functions{
	float: right;
}

#cy {
	min-width: 600px;
	height: 400px;
	margin-right: 100px;
	display: block;
	border: 3px solid #73AD21;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}